* {
	box-sizing: inherit;
	max-height: 1000000px;

	&:after,
	&:before {
		box-sizing: inherit;
	}
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1280px;
	@include media(">=phone") {
		padding: 0 50px;
	}
	@include media(">=desktop") {
		max-width: 1590px;
	}
	&._lg {
		max-width: 1340px;
		@include media(">=desktop") {
			max-width: 1820px;
		}
	}
}

html,
body {
	height: 100%;
}

.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main,
.header,
.footer {
	min-width: 0;
}

.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	transition: all var(--animation-duration) var(--animation-timing-function);
	font-weight: bold;
	font-family: $accent-font;
	font-size: 18px;
	padding: 16px 48px;
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		opacity: 1;
	}
}

.pages {
	display: flex;
	flex-direction: column;
	li {
		padding: 15px;
		border-bottom: 2px solid var(--color-black);
	}
	a {
		color: var(--color-black);
		font-size: 3rem;
	}
}

body {
	background-color: var(--color-orange-97);
}