// Top banner
.top-banner {
    &__inner {
        position: relative;
        z-index: 2;
        margin-top: 40px;
        border-radius: 6px;
        border: 2px solid var(--color-grey-15);
        background: var(--color-orange-90);
        padding: 12px 15px;
        @include media(">=desktop") {
            margin-top: 16px;
            padding: 14px 15px;
        }
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--color-grey-15);
        font-weight: 500;
        line-height: 1.5;
        font-size: 14px;
        @include media(">=desktop") {
            gap: 14px;
            font-size: 16px;
        }
        @include media(">=xl") {
            font-size: 20px;
        }
        &:hover {
            text-decoration: underline;
            svg {
                transform: translateX(5px);
            }
        }
        svg {
            transition: all .4s;
        }
    }
}

// Header
.header {
    padding: 12px 0 0;
    margin-bottom: 12px;
    position: relative;
    z-index: 5;
    height: fit-content;
    &__inner {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-white);
        border-radius: 12px;
        border: 2px solid var(--color-grey-15);
        overflow: hidden;
    }

    &__content {
        display: flex;
        gap: 3.2rem;
        position: absolute;
        top: 100%;
        left: 15px;
        width: calc(100% - 30px);
        background-color: var(--color-white);
        flex-direction: column;
        align-items: start;
        max-height: 0;
        height: auto;
        overflow-y: scroll;
        padding: 0;

        @include media(">=phone") {
            width: calc(100% - 100px);
            left: 50px;
        }

        @include media(">desktop-md") {
            align-items: center;
            overflow: visible;
            position: relative;
            max-height: none;
            flex-direction: row;
            width: auto;
            left: 0;
            top: auto;
        }
    }
}

.logo {
    position: relative;
    z-index: 2;
    padding: 16px 20px;
    background-color: var(--color-orange-65);
    border-right: 2px solid var(--color-grey-15);
    &:hover {
        background-color: var(--color-orange-80);
    }

    @include media(">desktop-md") {
        padding: 20px 24px;
    }

    img,
    svg {
        display: inline-block;
        width: 137px;

        @include media(">desktop-md") {
            width: 15.5rem;
        }
        @include media(">=xl") {
            width: 18rem;
        }
    }
}

.nav {
    height: 100%;
    &__list {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        height: 100%;

        @include media(">=phone") {
            max-height: 190px;
        } 
        @include media(">=tablet") {
            max-height: none;
        }

        @include media(">desktop-md") {
            flex-direction: row;
        }
    }

    &__item {
        border-bottom: 2px solid var(--color-grey-15);
        &:last-child {
            border-bottom: none;
        }
        @include media(">desktop-md") {
            border-left: 2px solid var(--color-grey-15);
            border-bottom: none;
            &:last-child {
                .nav__link {
                    background-color: var(--color-orange-75);
                    &:hover {
                        background-color: var(--color-orange-80);
                    }
                }
            }
        }
    }

    &__link {
        color: var(--color-grey-15);
        font-weight: 400;
        transition: all .4s;
        position: relative;
        padding: 13px 0;
        font-weight: 600;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        @include media(">desktop-md") {
            padding: 16px 30px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            border-radius: 5px;
            background-color: var(--color-black);
            bottom: 0;
            left: 50%;
            transition: background-color .4s;

            @include media(">desktop-md") {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &:hover {
            opacity: 1;
            background-color: var(--color-orange-95);
        }
    }
}

.nav-opener {
    display: block;
    width: 88px;
    height: 62px;
    border: none;
    border-left: 2px solid var(--color-grey-15);
    position: relative;
    background-color: transparent;
    outline: none;
    padding: 16px 30px;
    background-color: var(--color-orange-95);

    @include media(">desktop-md") {
        display: none;
    }

    &:before,
    &:after,
    span {
        background-color: var(--color-grey-15);
        border-radius: 3px;
        position: absolute;
        top: 50%;
        width: 21px;
        height: 2px;
        margin-top: -1.5px;
        transition: all 0.2s linear;
    }

    &:before,
    &:after {
        content: "";
        top: 38%;
    }

    &:after {
        top: 62%;
        width: 11px;
        left: 39.5px;
    }
}

.nav-active {
    overflow: hidden;

    .header {
        padding-bottom: 0;
        &__inner {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .nav-opener {
        span {
            opacity: 0;
        }

        &:before,
        &:after {
            transform: rotate(45deg);
            top: 50%;
        }

        &:after {
            transform: rotate(-45deg);
            width: 21px;
            left: auto;
        }
    }

    .header__content {
        max-height: 1600px;
        border: 2px solid var(--color-grey-15);
        border-top: none;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        transition: max-height .4s ease-in-out;
    }

    .nav {
        transform: translateY(0);
        width: 100%;
    }
}