//-------------------- #html
html {
	box-sizing: border-box;
	padding: constant(safe-area-inset); 
	padding: env(safe-area-inset);
	overflow-x: hidden;
	font-size: calc(var(--rem-base) - 3px);

	@include media(">=phone-xs") {
		font-size: calc(var(--rem-base) - 2.5px);
	}

	@include media(">=phone") {
		font-size: calc(var(--rem-base) - 2px);
	}

	@include media(">=tablet") {
		font-size: calc(var(--rem-base) - 1.5px);
	}

	@include media(">=desktop") {
		font-size: calc(var(--rem-base));
	}
}

body {
	color: var(--base-text-color);
	font: var(--base-font-size)/var(--base-line-height) $base-font;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//---------------- #h style h1-h6
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: $accent-font;
	font-weight: bold;
	color: var(--h1-h6-color);

	a {
		color: inherit;
		font-size: inherit;
	}
}

h1,
.h1 {
	font-size: var(--h1);
	margin: 0 0 0.3em;
	line-height: 1.15;
}

h2,
.h2 {
	font-size: var(--h2);
	margin: 0 0 0.4em;
	line-height: 1.33;
}
h3,
.h3 {
	font-size: var(--h3);
	margin: 0 0 0.5em;
	line-height: 1.33;
}

h4,
.h4 {
	font-size: var(--h4);
	margin: 0 0 0.6em;
	line-height: 1.42;
}

h5,
.h5 {
	font-size: var(--h5);
	margin: 0 0 0.7em;
	line-height: 1.33;
}

h6,
.h6 {
	font-size: var(--h6);
	margin: 0 0 0.8em;
	line-height: 1.6;
}

p {
	margin-bottom: 1.2em;
	margin-top: 0;
	line-height: 1.75;
}

a {
	color: var(--base-link-color);
	text-decoration: none;
	transition: all var(--animation-duration) var(--animation-timing-function);

	&:hover {
		opacity: 0.8;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

ul,
ol {
	list-style: none;
	margin-top: 0;
	padding-left: 0px;

	li {
		list-style: none;
	}
}