.pagination 
    button.pagination__btn(type="button") <
    button.pagination__btn.active(type="button") 1
    button.pagination__btn(type="button") 2
    button.pagination__btn(type="button") 3
    button.pagination__btn(type="button") 4
    button.pagination__btn.no-box(type="button") ...
    button.pagination__btn(type="button") 40
    button.pagination__btn(type="button") >
