.table-responsive
    table.table-customers 
        thead.table-customers__head
            tr.table-customers__row 
                th.table-customers__cell Customer Name
                th.table-customers__cell Company
                th.table-customers__cell Phone Number
                th.table-customers__cell Email
                th.table-customers__cell Country
                th.table-customers__cell Status

        tbody.table-customers__body 
            tr.table-customers__row
                td.table-customers__cell Jane Cooper
                td.table-customers__cell Microsoft
                td.table-customers__cell
                    a(href="tel:4065550120") (225) 555-0118
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") jane@microsoft.com
                td.table-customers__cell United States
                td.table-customers__cell
                    span.status-tag.active Active 

            tr.table-customers__row
                td.table-customers__cell Floyd Miles
                td.table-customers__cell Yahoo
                td.table-customers__cell
                    a(href="tel:4065550120") (205) 555-0100
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") floyd@yahoo.com
                td.table-customers__cell Kiribati
                td.table-customers__cell
                    span.status-tag.inactive Inactive

            tr.table-customers__row
                td.table-customers__cell Ronald Richards
                td.table-customers__cell Adobe
                td.table-customers__cell
                    a(href="tel:4065550120") (302) 555-0107
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") ronald@adobe.com
                td.table-customers__cell Israel
                td.table-customers__cell
                    span.status-tag.inactive Inactive

            tr.table-customers__row
                td.table-customers__cell Marvin McKinney
                td.table-customers__cell Tesla
                td.table-customers__cell
                    a(href="tel:4065550120") (252) 555-0126
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") marvin@tesla.com
                td.table-customers__cell Iran
                td.table-customers__cell
                    span.status-tag.active Active

            tr.table-customers__row
                td.table-customers__cell Jerome Bell
                td.table-customers__cell Google
                td.table-customers__cell
                    a(href="tel:4065550120") (629) 555-0129
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") jerome@google.com
                td.table-customers__cell Réunion
                td.table-customers__cell
                    span.status-tag.active Active

            tr.table-customers__row
                td.table-customers__cell Kathryn Murphy
                td.table-customers__cell Microsoft
                td.table-customers__cell
                    a(href="tel:4065550120") (406) 555-0120
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") kathryn@microsoft.com
                td.table-customers__cell Curaçao
                td.table-customers__cell
                    span.status-tag.active Active

            tr.table-customers__row
                td.table-customers__cell Jacob Jones
                td.table-customers__cell Yahoo
                td.table-customers__cell
                    a(href="tel:4065550120") (208) 555-0112
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") jacob@yahoo.com
                td.table-customers__cell Brazil
                td.table-customers__cell
                    span.status-tag.active Active

            tr.table-customers__row
                td.table-customers__cell Kristin Watson
                td.table-customers__cell Facebook
                td.table-customers__cell
                    a(href="tel:4065550120") (704) 555-0127
                td.table-customers__cell
                    a(href="mailto:jane@microsoft.com") kristin@facebook.com
                td.table-customers__cell Åland Islands
                td.table-customers__cell
                    span.status-tag.inactive Inactive