* {
	box-sizing: inherit;
	max-height: 1000000px;

	&:after,
	&:before {
		box-sizing: inherit;
	}
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);

	@each $name, $value in $container {
		@if ($name == 'default') {
			max-width: calc(#{$value} + var(--gutter) * 2);
		} @else {
			&._#{$name} {
				max-width: calc(#{$value} + var(--gutter) * 2);
			}
		}
	}
}

html,
body {
	height: 100%;
}

.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main,
.header,
.footer {
	min-width: 0;
}

.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	transition: all var(--animation-duration) var(--animation-timing-function);
	font-weight: bold;
	font-family: $accent-font;
	font-size: 18px;
	padding: 16px 48px;
	border: 1px solid transparent;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		opacity: 1;
	}
}

.btn-yellow {
	background-color: var(--color-yellow);
	border-color: var(--color-yellow);
	color: var(--color-black);
	&:hover {
		background-color: var(--color-yellow-hover);
		border-color: var(--color-yellow-hover);
	}
}
	
.btn-white {
	background-color: var(--color-white);
	border-color: var(--color-white);
	color: var(--color-black);
	&:hover {
		background-color: var(--color-yellow-hover);
		border-color: var(--color-yellow-hover);
	}
}

.grid {
	display: grid;
	&._col-2 {
		grid-template-columns: 3fr 2fr;
		gap: 3.2rem;
		@include media("<desktop") {
			grid-template-columns: repeat(1,1fr);
		}
	}
	&._col-half {
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
		@include media("<=tablet") {
			gap: 4rem;
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.text {
	color: var(--color-grey-medium);
	line-height: 1.75;
	&:last-child {
		margin-bottom: 0;
	}
}

.text-center {
	text-align: center;
}

.link {
	color: var(--color-purple);
	font-weight: 700;
	font-family: $ff-sen;
	font-size: 18px;
}

.subtitle {
	font-weight: 600;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: var(--color-black);
	font-family: $ff-inter;
	font-size: 16px;
	margin-bottom: 2.4rem;
	line-height: 1.25;
	@include media("<=tablet") {
		margin-bottom: 1.5rem;
	}
}

.text-yellow {
	color: var(--color-yellow);
}

.text-white {
	color: var(--color-white);
}

.text-grey-medium {
	color: var(--color-grey-medium);
}

.text-grey-dark {
	color: var(--color-grey-dark);
}

.text-black {
	color: var(--color-black);
}

.text-purple {
	color: var(--color-purple);
}

.bg-lavander {
	background-color: var(--color-lavender);
}

.line-decor {
	position: relative;
	&:before,
	&:after {
		content: '';
		position: absolute;
		height: 2.3rem;
		width: 75%;
		background-color: var(--color-yellow);
		top: -2.3rem;
		right: 0;
	}
	&:after {
		width: 25%;
		background-color: var(--color-purple);
	}
}

.socials {
	display: flex;
	gap: 2.6rem;
	align-items: center;
}

.social-item {
	&:hover {
		.social-item__link svg {
			fill: var(--color-white);
		}
	}
	&__link {
		svg {
			transition: fill .3s;
			fill: var(--color-grey-medium);
		}
	}
}

.hero {
	position: relative;
	padding: 0;
	min-height: 72rem;
	margin-top: 8rem;
	&._blog {
		min-height: 52rem;
		.container {
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
	}
	@include media("<desktop") {
		margin-top: 6rem;
		min-height: 50rem;
	}
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 3rem;
		padding-top: 13rem;
		padding-bottom: 5rem;
		@include media("<desktop") {
			flex-direction: column;
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
	}
	&__content {
		max-width: 80rem;
		width: 100%;
		color: var(--color-white);
	}
	&__subtitle {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 3px;
		font-weight: 500;
		margin-bottom: 2rem;
		span {
			font-weight: 900;
		}
	}
	&__title {
		margin-bottom: 2rem;
	}
	&__info {
		font-size: 16px;
		margin-bottom: 1.6rem;
	}
	&__text {
		margin-bottom: 4.8rem;
		max-width: 60rem;
		width: 100%;
	}
	&__img {
		max-width: 515px;
		width: 100%;
		max-height: 360px;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__bg {
		position: absolute;
		inset: 0;
		z-index: -1;
		&::before {
			content: '';
			position: absolute;
			background: radial-gradient(80.99% 71.93% at 74.58% 0%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
			inset: 0;
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.articles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3.2rem;
	@include media("<desktop") {
		grid-template-columns: repeat(2, 1fr);
	}
	@include media("<tablet") {
		grid-template-columns: repeat(1, 1fr);
	}
}

.article {
	&._with-border {
		padding: 3.2rem;
		border: 1px solid rgba(#6D6E76, 0.1)
	}
	&__visual {
		height: 35rem;
		margin-bottom: 3.2rem;
		@include media("<phone") {
			height: 25rem;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: start;
	}
	&__label {
		font-weight: 500;
		font-size: 14px;
		color: var(--color-grey-dark);
	}
	&__title {
		margin-bottom: 0;
		color: var(--color-black);
		&:is(a) {
			&:hover {
				color: var(--color-purple);
			}
		}
	}
	&__text {
		color: var(--color-grey-medium);
	}
}

.content-header {
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	align-items: baseline;
	@include media("<phone") {
		flex-direction: column;
	}
}

.post-items {
	display: flex;
	flex-direction: column;
}

.post-item {
	padding: 2.9rem;
	display: flex;
	flex-direction: column;
	@include media("<desktop") {
		padding: 2rem 0;
	}
	&:hover {
		background-color: var(--color-yellow-light);
		@include media("<desktop") {
			background-color: var(--color-white);
		}
	}
	&__info {
		font-size: 14px;
		font-weight: 500;
		color: var(--color-grey-medium);
		margin-bottom: 8px;
	}
	&__title {
		margin-bottom: 0;
		max-width: 36rem;
		width: 100%;
		@include media("<desktop") {
			max-width: 100%;
		}
	}
}

.categories-grid,
.authors-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3.2rem;
	@include media("<desktop") {
		grid-template-columns: repeat(2, 1fr);
	}
	@include media("<phone") {
		grid-template-columns: repeat(1, 1fr);
	}
}

.category-item {
	display: inline-block;
	padding: 3.2rem;
	border: 1px solid rgba(#6D6E76, .3);
	&:hover {
		background-color: var(--color-yellow);
		border-color: var(--color-yellow);
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 16px;
		height: 4.8rem;
		width: 4.8rem;
		background-color: var(--color-yellow-light);
		border-radius: 1rem;
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
}

.started {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: flex-end;
	@include media("<tablet") {
		flex-direction: column;
	}
	&__bg {
		position: absolute;
		inset: 0;
		z-index: -1;
		width: 75%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@include media("<tablet") {
			position: static;
			max-width: 100%;
			width: 100%;
			height: 40rem;
		}
	}
	&__content {
		padding: 8rem;
		max-width: 70rem;
		background-color: var(--color-white);
		margin-top: 12rem;
		@include media("<desktop") {
			max-width: 55rem;
		}
		@include media("<tablet") {
			margin-top: 4rem;
			padding: 4rem;
			max-width: 100%;
		}
	}
}

.author {
	background-color: var(--color-grey-light);
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 100%;
	&:hover {
		background-color: var(--color-yellow-light);
	}
	&__avatar {
		border-radius: 50%;
		overflow: hidden;
		margin-bottom: 2rem;
		height: 12.8rem;
		width: 12.8rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__content {
		* {
			margin-bottom: 0;
		}
		p {
			margin-bottom: 2rem;
		}
		a {
			&:hover {
				color: var(--color-purple);
			}
		}
	}
	.socials {
		justify-content: center;
		gap: 16px;
	}
	.social-item__link {
		&:hover {
			svg {
				fill: var(--color-purple);
			}
		}
		svg {
			fill: var(--color-black);
		}
	}
}

.logos {
	display: flex;
	align-items: center;
	gap: 9rem;
	@include media("<desktop-md") {
		gap: 5rem;
	}
	@include media("<desktop") {
		flex-direction: column;
		align-items: start;
		gap: 2rem;
	}
	&__title {
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		gap: 0px;
		.text {
			font-size: 14px;
			line-height: 1.4;
		}
	}
	&__inner {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 3rem;
		align-items: center;
		margin-bottom: 0;
		@include media("<desktop") {
			justify-content: start;
			gap: 5rem;
		}
	}
}

.logo-item {
	@include media("<desktop-md") {
		max-width: 15rem;
	}
	@include media("<desktop") {
		max-width: 20rem;
	}
	&__img {
		display: inline-block;
		svg {
			fill: var(--color-blue-dark);
		}
	}
}

.testimonials {
	position: relative;
	background-color: var(--color-yellow-light);
	padding: 8rem 11rem 7.4rem;
	display: flex;
	justify-content: space-between;
	@include media("<desktop") {
		flex-direction: column;
		gap: 5rem;
		padding: 8rem 6rem;
	}
	&__content {
		margin-right: 10rem;
		padding-right: 8rem;
		border-right: 1px solid rgba(#6D6E76, .4);
		width: 100%;
		max-width: 43rem;
		@include media("<desktop") {
			max-width: 100%;
			border-bottom: 1px solid rgba(#6D6E76, .4);
			border-right: none;
			padding-bottom: 5rem;
			padding-right: 0;
			margin-right: 0;
		}
	}
	&__slider {
		max-width: 100%;
		width: 100%;
	}
	&__buttons {
		display: flex;
		align-items: center;
		gap: 2rem;
		width: 15rem;
		height: 6.2rem;
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 3;
		transform: translateY(10px);
		@include media("<phone") {
			right: auto;
			left: 0;
		}
		.swiper-button-prev,
		.swiper-button-next {
			width: 6.2rem;
			height: 6.2rem;
			border-radius: 50%;
			top: auto !important;
			background-color: var(--color-black);
			transition: all .4s;
			svg {
				fill: var(--color-white);
				transition: all .4s;
			}
			&:after {
				display: none;
			}
		}
		.swiper-button-disabled {
			width: 4.8rem;
			height: 4.8rem;
			background-color: var(--color-white);
			opacity: 1;
			svg {
				fill: var(--color-black);
			}
		}
		.swiper-button-prev {
			transform: rotate(180deg);
		}
	}
}

.testimonial {
	max-width: 100%;
	@include media("<desktop") {
		max-width: 100%;
	}
	@include media("<phone") {
		padding-bottom: 8rem;
	}
	&__text {
		min-height: 25rem;
		max-width: 43rem;
		@include media("<desktop") {
			min-height: 0;
			margin-bottom: 4rem;
		}
	}
	&__author {
		display: flex;
		gap: 16px;
	}
	&__avatar {
		width: 4.8rem;
		height: 4.8rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 50%;
		}
	}
}

.join-module {
	max-width: 42rem;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.posts-wrapper {
	border-top: 1px solid rgba(#6D6E76, 0.33);
	padding-top: 6.4rem;
	display: flex;
	flex-direction: column;
	gap: 6.4rem;
}

.post {
	display: flex;
	align-items: center;
	gap: 3.2rem;
	&:hover {
		opacity: 1;
		.post__visual img {
			transform: scale(1.05);
		}
		.post__title {
			color: var(--color-purple);
		}
	}
	@include media("<tablet") {
		flex-direction: column;
	}
	&__content {
		display: flex;
		flex-direction: column;
		max-width: 60rem;
		width: 100%;
	}
	&__visual {
		max-width: 49rem;
		width: 100%;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all .4s;
		}
	}
	&__subtitle {
		text-transform: uppercase;
		font-weight: 600;
		color: var(--color-purple);
		margin-bottom: 2rem;
	}
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 17px;
	padding: 10px 0;
}

.blog-header {
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 80rem;
	width: 100%;
	margin: 0 auto 4.8rem;
	&__author {
		display: flex;
		align-items: center;
		gap: 16px;
	}
	&__avatar {
		width: 4.8rem;
		height: 4.8rem;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__category {
		display: flex;
		align-items: center;
		gap: 8px;
	}
}

.blog-cover {
	max-height: 59rem;
	height: 100%;
	width: 100%;
	margin-bottom: 6.4rem;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.blog-content {
	max-width: 80rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
	p {
		margin-bottom: 2.4rem;
	}
	p + p {
		margin-top: 2.4rem;
	}

	li {
		font-family: $ff-sen;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		position: relative;
		padding-left: 15px;
		&:before {
			content: '';
			position: absolute;
			width: 5px;
			height: 5px;
			background-color: #494A53;
			border-radius: 50%;
			left: 0;
			top: 14px;
		}
	}
}