// fonts
$ff-inter: 'Inter';
$ff-sen: 'Sen';

$base-main-font: $ff-inter;
$base-font-sans-serif: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
$base-font: $base-main-font, $base-font-sans-serif;
$accent-font: $ff-sen;

// Container
$gutter: 20px;
$container: (
	"default": 1280px,
);

// Headers
$h1-h6-font-size: (
	// --------- h1 ---- h2 ----h3 ---- h4 -- h5 -- h6 ---
	"default": (5.6rem, 4.8rem, 3.6rem, 2.8rem, 2.4rem, 2rem),
	"tablet": (34px, 30px, 24px, 20px, 18px, 16px)
);

$colors: (
	"black": #232536,
	"yellow": #FFD050,
	"yellow-hover": #EDC14A,
	"yellow-light": #FBF6EA,
	"purple": #592EA9,
	"grey-dark": #4C4C4C,
	"grey-medium": #6D6E76,
	"grey-light": #F4F4F4,
	"lavender": #F4F0F8,
	"white": #ffffff,
	"blue-dark": #282938
);