* {
	box-sizing: inherit;
	max-height: 1000000px;

	&:after,
	&:before {
		box-sizing: inherit;
	}
}

.container {
	width: 100%;
	margin: 0 auto;
	padding-left: var(--gutter);
	padding-right: var(--gutter);

	@each $name, $value in $container {
		@if ($name == 'default') {
			max-width: calc(#{$value} + var(--gutter) * 2);
		} @else {
			&._#{$name} {
				max-width: calc(#{$value} + var(--gutter) * 2);
			}
		}
	}
}

html,
body {
	height: 100%;
}

.wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.main,
.header,
.footer {
	min-width: 0;
}

.btn {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	transition: all var(--animation-duration) var(--animation-timing-function);
	font-weight: bold;
	font-family: $base-main-font;
	color: var(--color-white);
	font-size: 18px;
	padding: 12px 24px;
	min-width: 17rem;
	border: 1px solid transparent;
	border-radius: 5px;
	text-transform: capitalize;
	cursor: pointer;

	&:hover {
		text-decoration: none;
		opacity: 1;
	}

	&._btn-yellow {
		background-color: var(--color-yellow);
		border-color: var(--color-yellow);
		&:hover {
			background-color: var(--color-white);
			border-color: var(--color-white);
			color: var(--color-violet);
		}
	}

	&._btn-violet {
		background-color: var(--color-violet);
		border-color: var(--color-violet);
		&:hover {
			background-color: var(--color-yellow);
			border-color: var(--color-yellow);
		}
	}
	
	&._btn-sm {
		min-width: 0;
	}
}

.link {
	&:hover {
		color: var(--color-yellow);
	}
}

.main {
	position: relative;
}

.body-bg {
	height: 1000px;
	@include media(">=tablet") {
		height: 1100px;
	}
}

.section {
	position: relative;
	z-index: 2;
	padding: 40px 0;
	
	@include media(">=tablet") {
		padding: 7.5rem 0;
	}

	&.scrolled-into-view {
		.title-underline{
			&:before {
				width: 100%;
				transition: width .8s ease-in-out .15s;
			}
			&:last-child:before {
				transition: width .8s ease-in-out .8s;
			}
		}
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 40px;
		flex-direction: column;

		@include media(">=tablet") {
			gap: 12rem;
			flex-direction: row;
		}
	}

	&__img {
		flex-shrink: 0;
		max-width: 461px;
		width: 100%;
	}

	&__content {
		max-width: 560px;
		width: 100%;
	}
}

.bg {
	position: absolute;
	z-index: -1;
	inset: 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.bg-yellow {
	background-color: var(--color-yellow) !important;
}

.bg-violet {
	background-color: var(--color-violet) !important;
}

.text {
	margin-bottom: 0;
}

.text-center {
	text-align: center;
}

.text-white {
	color: var(--color-white) !important; 
}

.socials {
	display: flex;
	gap: 24px;
	margin-bottom: 0;
}

.social-item {
	&__link {
		svg {
			fill: var(--color-violet);
			transition: fill .4s;
		}
		&:hover {
			opacity: 1;
			svg {
				fill: var(--color-yellow);
			}
		}
	}
}

.hero {
	padding: 100px 0 40px;
	@include media(">=tablet") {
		padding: 14rem 0 60px;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		gap: 40px;
		@include media(">=tablet") {
			gap: 8rem;
			flex-direction: row;
		}
		@include media(">=desktop-md") {
			gap: 12rem;
		}
	}
	&__img {
		max-width: 285px;
		width: 100%;
		aspect-ratio: 1;
		flex-shrink: 0;
		@include media(">=tablet") {
			max-width: 40rem;
		}
		@include media(">=desktop-md") {
			max-width: 46rem;
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
}

.title-underline {
	display: inline-block;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		background-color: var(--color-yellow);
		width: 0;
		height: 10px;
		border-radius: 21px;
		left: 0;
		right: 0;
		bottom: 3px;
		z-index: -1;
		@include media(">=tablet") {
			height: 12px;
			bottom: 8px;
		}
	}
	&._md {
		&:before {
			@include media(">=tablet") {
				height: 10px;
			}
		}
	}
}

.infinity-lines {
	display: flex;
	flex-direction: column;
	gap: 12rem;
	position: relative;
	height: 20rem;
}

.infinity-line {
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	background-color: var(--color-violet);
	padding: 16px 0;
	height: 44px;
	transform-origin: center;
	transform: translate(-50%,-50%) rotate(8deg);
	&:nth-child(2) {
		transform: translate(-50%, -50%) rotate(-8deg);
		z-index: 1;
	}
	@include media(">=phone") {
		height: 60px;
		transform: translate(-50%, -50%) rotate(5deg);
		&:nth-child(2) {
			transform: translate(-50%, -50%) rotate(-5deg);
		}
	}
	&._scrollLeft .infinity-line__text {
		animation-name: scrollLeft;
	}
	&__text {
		flex-shrink: 0;
		white-space: nowrap;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		gap: 40px;
		flex-shrink: 0;
		color: var(--color-white);
		text-transform: uppercase;
		font-size: 2.4rem;
		line-height: 1.2;
		left: 5000px;
		
		&:nth-child(odd) {
			color: transparent;
			-webkit-text-stroke: 1.5px;
			-webkit-text-stroke-color: var(--color-white);
		}
		&:last-child {
			color: transparent;
			-webkit-text-stroke-color: transparent;
		}

		--duration: 40s; // Animation duration

		animation-name: scrollRight;
		animation-duration: var(--duration);
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

// Infinity lines animations

@keyframes scrollRight {
	from {
		left: 100%;
	}
	to {
		left: calc(var(--itemWidth) * -1);
	}
}

@keyframes scrollLeft {
	from {
		left: calc(var(--itemWidth) * -1);
	}
	to {
		left: 100%;
	}
}

.cta {
	@include media(">=tablet") {
		padding: 6.4rem 0 9.6rem;
	}
}

.cta-block {
	background-color: var(--color-violet);
	border-radius: 15px;
	padding: 44px 20px;
	position: relative;
	z-index: 2;
	text-align: center;
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	align-items: center;

	.h1 {
		margin-bottom: 16px;
	}

	.text {
		margin-bottom: 32px;
	}

	@include media(">=tablet") {
		padding: 6.4rem;
	}
}

.partners-logos {
	display: flex;
	flex-direction: column;
	gap: 20px;
	
	@include media(">=tablet") {
		display: grid;
		justify-content: center;
		gap: 24px;
		grid-template-areas: ". . a a . ."
							 ". b b c c .";
	}
}

.partners-logo {
	min-width: 267px;
	width: 100%;
	border-radius: 10px;
	background: var(--color-violet-medium);
	padding: 28px;
	@include media(">=tablet") {
		padding: 37px;
	}

	&:nth-child(1) {
		grid-area: a;
	}

	&:nth-child(2) {
		grid-area: b;
	}

	&:nth-child(3) {
		grid-area: c;
	}
}

.about {
	@include media(">=tablet") {
		padding: 6rem 0;
	}
	&__inner {
		text-align: center;
	}
}

.text-content {
	&._col-2 {
		display: flex;
		justify-content: space-between;
		gap: 24px;
		flex-direction: column;

		@include media(">=tablet") {
			flex-direction: row;
		}
		.col {
			max-width: 465px;
			width: 100%;
			text-align: left;
		}
	} 
}

.services-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 20px;
	@include media(">=tablet") {
		gap: 24px;
	}
}

.services-item {
	background-color: var(--color-yellow);
	color: var(--color-white);
	padding: 16px 24px;
	text-align: center;
	border-radius: 10px;
	&._big {
		.services-item__list {
			flex-direction: column;
		}
	}
	&__title {
		color: var(--color-white);
		margin-bottom: 16px;
		@include media(">=tablet") {
			font-size: 24px;
		}
	}
	&__list {
		display: flex;
		gap: 16px;
		margin-bottom: 0;
		justify-content: space-around;
		flex-direction: column;
		@include media(">=tablet") {
			gap: 24px;
			flex-direction: row;
		}
	}
	&__text {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.4;
		@include media(">=tablet") {
			font-size: 18px;
		}
	}
	&:nth-child(1) {
		grid-area: 1 / 1 / 3 / 3;
		
		@include media(">=tablet") {
			grid-area: 1 / 1 / 3 / 2;
		}
	}

	&:nth-child(2) {
		grid-area: 3 / 1 / 4 / 2;
		
		@include media(">=tablet") {
			grid-area: 1 / 2 / 2 / 3;
		}
	}

	&:nth-child(3) {
		grid-area: 3 / 2 / 4 / 3;

		@include media(">=tablet") {
			grid-area: 2 / 2 / 3 / 3;
		}
	}
}