@import "components/variables";
@import "components/fonts";
@import "vendors/include-media";
@import "vendors/normalize";
@import "components/helpers";
@import "components/typography";
@import "components/header";
@import "components/footer";
@import "components/common";

:root {

	@if $colors {
		@each $key, $value in $colors {
			--color-#{$key}: #{$value};
		}
	}

	// === Base variable

	// --- HTML style
	--rem-base: 10px;
	// --- Body style
	--base-font-size: 16px;
	--base-line-height: 1.5;

	--base-text-color: var(--color-grey);
	--base-link-color: var(--color-grey);
	--h1-h6-color: var(--color-black);

	// --- Animation
	--animation-duration: 0.3s;
	--animation-timing-function: ease;

	// Gutter
	--gutter: #{$gutter};
	@include media("iphoneX") {
		--gutter: 50px;
	}

	@each $name, $array in $h1-h6-font-size {
		@if ($name == "default") {
			@for $i from 1 through length($array) {
				--h#{$i}: #{nth($array, $i)};
			}
		} @else {
			@include media(">=#{$name}") {
				@for $i from 1 through length($array) {
					--h#{$i}: #{nth($array, $i)};
				}
			}
		}
	}
}
